@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.timer {
  font-size: 40px;
  position: absolute;
  z-index: 2;
  top: 90%;
  text-transform: uppercase;
  font-weight: 600;
}

.navigation {
  position: absolute;
  z-index: 10;
}
.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
  }
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

   
  }
  .mobile {
    display: none;
  }

  .desktop{
    display: block;
  }
  .video-container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.193);
  }

  .content {
    position: absolute;
    z-index: 2;
    top: 0%;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      font-size: 220px;
      margin: 0;
    }
  }
}
@media only screen and (max-width: 800px) {
  .timer {
    font-size: 30px;
  }
 .video-container{
  .mobile {
    display: block;
  }

  .desktop{
    display: none;
  }
 }
}
